<div id="footer">
    <section id="main-footer">
        
        <a href="/html/intro.html"><img id="logo-footer" src="/images/logotypes/logo.png" alt="Logo image"></a>
        <nav id="nav_footer">
            <ul id="exploreSection" class="ul-footer">
                <li class="title"><h3>Explore</h3></li>
                <li class="li-footer"><a href="/html/intro.html">Home</a></li>
                <li class="li-footer"><a href="/html/overlays.html">Overlays</a></li>
                <li class="li-footer"><a href="/html/howToUse.html">How to use</a></li>
                <li class="li-footer"><a href="/html/prices.html">Pricing</a></li>
            </ul>
        </nav>

        <ul id="followSection" class="ul-footer">
            <li class="title"><h3></h3></li>
            <li id ="instagram" class="li-footer">
                <img src="/images/icons/instagram.png" class="social-icon" alt="Logo de instagram" />
                <a class="socialLink-footer" href=""></a>
            </li>
            <li id ="youtube" class="li-footer">
                <img src="/images/icons/youtube.png" class="social-icon" alt="Logo de youtube" />
                <a class="socialLink-footer" href=""></a>
            </li>
            <li id ="tiktok" class="li-footer">
                <img src="/images/icons/tik tok.png" class="social-icon" alt="Logo de tik tok" />
                <a class="socialLink-footer" href=""></a>
            </li>
            <li id ="facebook" class="li-footer">
                <img src="/images/icons/facebook.png" class="social-icon" alt="Logo de facebook" />
                <a class="socialLink-footer" href=""></a>
            </li>
        </ul>


        <ul class="ul-footer" id="ul-contac_us">
            <li class="title"><h3></h3></li>
            <li>
                <form id="form-footer" method="post" name="emailForm" action="/php/form-to-email.php" onsubmit="return false;">
                    <section id="message-form-footer">
                        <div>
                            <div class="nameEmail-form-footer">
                                <label for="name"></label>
                                <input type="text" name="name" />
                            </div>
                            <div class="nameEmail-form-footer">
                                <label for="email"></label>
                                <input type="email" name="email" />
                            </div>
                        </div>
                        <div id="message-form">
                            <label for="message"></label>
                            <textarea id="textArea-form-footer" type="text" name="message"></textarea>
                            <button type="submit">Send</button>
                        </div>
                    </section>
                    
                </form>
            </li>
        </ul>
    </section>

    <section id="copyright-footer">
        <a>Privacy Policy</a>
        <p class="tag-footer">|</p>
        <p>Copyright © 2023 Lorem ipsum</p>
        <p class="tag-footer">|</p>
        <a >Cookie policy</a>
    </section>

</div>
