<app-header></app-header>
<main>
    <h1 id="h1_title">{{pageContent.title}}</h1>
    <a *ngIf="!overlays || overlays.length==0" id="messageNoOverlays" href="overlays"><h2>{{pageContent.messageNoOverlays}}</h2></a>
    <section id="overlays">
        <div *ngFor="let overlay of overlays; let i=index">
            <app-card-overlay [overlay]="overlays[i]"></app-card-overlay>
        </div>
    </section>
    <app-pagination *ngIf="paginationReady"
    [nPages]="loadOverlays.getnumberOfPages()"
    [cardsPerPage]="loadOverlays.getCardsPerPage()"
    (changePageEvent)="changePage($event)"></app-pagination>
</main>

<app-footer></app-footer>
