#nav_header{
  background: linear-gradient(var(--colorPrincipalOscuro),var(--colorPrincipal));
  font-family: Poppins, serif;
  position: sticky;
  top:0;
  z-index: 1000;
}

#menu-header {
  display: inline-flex;
  width: 100%;
  font-size: 1em;
  padding-left:inherit;
  justify-content: space-between;
  align-items: center;
}

#menu-header a {
  font-weight: bold;
  color: var(--colorTerciario);
  text-decoration: none;
}

#title {
  display: flex;
  align-items: center;
  margin-left:1em;
}

#menu-header #title img{
  width: 2em;
  height: 2em;
  float: left;
  margin-right:0.1em;
}

#menu-header #title a{
  font-size:2em;
  text-decoration: none;
}

#menu-header #icono_usuario {
  width: 2em;
  height: 2em;
}

#menu-header a {
  box-shadow: inset 0 0 0 0 var(--colorTerciario);
  padding: 0.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#menu-header a:hover {
  box-shadow: inset 10em 0 0 0 var(--colorTerciario);
  color: var(--colorPrincipal);
}

.dropall{
  width: 40%;
  background: none;
  border: none;
}

.dropall i{
  display: none;
}

.dropall_elements{
  list-style-type: none;
  display: inline-flex;
  width:100%;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
  padding-left:inherit;
  margin-left:0.2em;
}

/*Creaci贸n del dropdown menu*/
#menu-header #dropmenu {
  display: inline-flex;
  flex-direction: column;
  overflow:visible;
  position:relative;
}

#menu-header #dropmenu div {
  display: none;
  text-decoration-line: none;
  position:absolute;
  z-index: 1;
  flex-direction: column;
}

.dropmenu_elements {
  top: 2em;
  background:none;
}

#dropmenu .dropmenu_elements a {
  float: left;
  display: block;
  text-align: left;
  font-weight: normal;
}

/*Condici贸n para mostrar el dropdown menu*/
#menu-header #dropmenu:hover div{
  display: inline-flex;
  justify-content:center;
}

/*Creaci贸n del session Options*/
#menu-header #sessionOptions {
  display: inline-flex;
  flex-direction: column;
  height: 2em;
  width: 2em;
  overflow: visible;
  align-items: flex-start;
}

#menu-header #sessionOptions div {
  display: none;
  text-decoration-line: none;
  z-index: 1;
  flex-direction: column;
  width: max-content;
}

/*Condici贸n para mostrar el session Options*/
#menu-header #sessionOptions div a {
  font-weight: normal;
  display:flex;
  justify-content:flex-start;
}

#menu-header #sessionOptions:hover div {
  display: inline-flex;
  justify-content:left;
}
