@media screen and (min-width:1024px) {
    h1 {
        color: var(--colorTerciario);
    }
     
    
    main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 1em 3em 0 3em;
    }
    
    
    #overlays {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,auto);
        grid-row-gap: 2em;
        justify-items: center;
    }
    
    #pages {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em 0 0 0;
        color: var(--colorSecundario);
    }
    
    #pageText {
        display: flex;
    }
    

    
    svg {
        display: flex;
        fill: white;
    }
    
    #pages button {
        width: 40px;
        height: 40px;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin: 0 1em 0 1em;
    }
    
    #previousPage {
        display: none;
    }
    
    @media screen and (max-width:1250px) {
        #overlays {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,auto);
            grid-row-gap: 2em;
            justify-items: center;
        }
    }
}

@media screen and (max-width:1023px) and (min-width:768px) {
    h1 {
        color: var(--colorTerciario);
    }
    
    
    
    main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 1em 3em 0 3em;
    }
    
    
    #overlays {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,auto);
        grid-row-gap: 2em;
        justify-items: center;
    }
    
    #pages {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em 0 0 0;
        color: var(--colorSecundario);
    }
    
    #pageText {
        display: flex;
    }
    
    
    svg {
        display: flex;
        fill: white;
    }
    
    #pages button {
        width: 40px;
        height: 40px;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin: 0 1em 0 1em;
    }
    
    #previousPage {
        display: none;
    }
    
}

@media screen and (max-width:767px) {
    h1 {
        color: var(--colorTerciario);
    }
    
    
    main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 1em 3em 0 3em;
        align-items:center;
    }
    
    
    #overlays {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,auto);
        grid-row-gap: 2em;
        justify-items: center;
    }
    
    #pages {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em 0 0 0;
        color: var(--colorSecundario);
    }
    
    #pageText {
        display: flex;
    }

    svg {
        display: flex;
        fill: white;
    }
    
    #pages button {
        width: 40px;
        height: 40px;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin: 0 1em 0 1em;
    }
    
    #previousPage {
        display: none;
    }
    
}