main{
  grid-area: main;
  justify-self: center;
  align-self: center;
  color:var(--colorSecundario);
  display: grid;
  align-items: center;
  grid-template-rows: 4em minmax(max-content,1fr);
  grid-template-areas:
      "."
      "form";
  background-color: var(--colorPrincipal);
  margin-top: 4em;
}

#titleForm {
  color: var(--colorTerciario);
  text-align: center;
  font-size: 2em;
  font-family: Poppins-bold;
  margin-bottom: 0;
}

#sessionForm{
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  height: 100%;
}

#sessionForm ul{
  list-style-type: none;
  display: grid;
  grid-template-rows: repeat(4,50px) 1fr;
  grid-gap: 10px;
  box-shadow: 0 0 250px #000;
  padding: 2em 1em 2em 1em;
  background-color: rgba(255, 255, 255, 0.22);
  border-radius: 5%;
}

#sessionForm ul li{
  display:flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.5em;
  align-items: center;
}

#sessionForm label {
  margin-bottom: 0.2em;
}

#changeSessionOptions{
  margin-top: 0.5em;
}

#changeSessionOptions input{
  background: none;
  border: none;
  font-size: 1em;
  color:var(--colorTerciario);
}

input {
  border:none;
  border-radius:0.2em;
  width: 20vw;
}

#name, #mail, #password, #passwordConfirm {
  font-size: 14px;
  line-height: 20px;
  padding: 0 16px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #d6d6e7;
  border-radius: 3px;
  color: rgb(0, 0, 0);
  box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
  overflow: hidden;
  transition: all 100ms ease-in-out;
}

#name:focus, #mail:focus, #password:focus, #passwordConfirm:focus {
  border-color: #e03c3c;
  box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
}

#submit{
  align-self: center;
  font-size: x-large;
  background: var(--colorTerciario);
  color: var(--colorPrincipal);
  border: none;
  border-radius: 7px;
  max-width: max-content;
  margin-top: 1em;
}

form p {
  color: darkred;
  font-size: 0.8em;
  width: 22vw;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: center;
  background-color: rgba(253, 99, 99, 0.22);
  padding: 0.5em;
  border-radius: 20px;
}

label {
  display:flex;
  font-family: Poppins-regular;
  font-size:0.8em;
}

@media screen and (min-width:768px) and (max-width:1023px){

  input{
    width: 35vw;
  }
  form p{width: 35vw;}
}

@media screen and (max-width:767px){

  input{
    width: 60vw;
  }
  form p{width: 60vw;}
}

