main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60%;
  margin: auto auto 1em auto;
}

#title_profile {
  color: var(--colorTerciario);
  text-align: center;
  font-size: 2em;
  font-family: Poppins-bold;
  margin-top: 1em;
}

form {
  display: grid;
  grid-template-areas:
    "pfp_profile user_data"
    "pfp_profile boton-submit";
  justify-content: center;
  align-items: flex-start;
  color: #FFFFFF;

  box-shadow: 0 0 250px #000;
  padding: 2em 1em 2em 1em;
  background-color: rgba(255, 255, 255, 0.22);
  border-radius: 5%;
}

.pfp_profile {
  grid-area: pfp_profile;
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pfp_profile img {
  width: 8em;
  height: 8em;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.custom_file_upload {
  display: inline-block;
  padding: 2px 8px;
  cursor: pointer;
  background-color: #FFBB00;
  color: #fff;
  border-radius: 4px;
}

.custom_file_upload:hover{
  background-color: #a47700;
}

.custom_file_upload input[type="file"] {
  display: none;
}

.user_data {
  grid-area: user_data;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

label {
  display: block;
  margin-top: 0.8em;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
  display: block;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  width: 18em;
}

button[type="submit"] {
  grid-area: boton-submit;
  margin-top: 2rem;
  background-color: #ffbb00;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  justify-self: center;
}

button[type="submit"]:hover {
  background-color: #a47700;
}

@media screen and (min-width:768px) and (max-width:1023px){

}

@media screen and (max-width:767px){
  main{
    height: auto;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;

    box-shadow: 0 0 250px #000;
    padding: 2em 1em 2em 1em;
    background-color: rgba(255, 255, 255, 0.22);
    border-radius: 30px;
  }

  .pfp_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .custom_file_upload{
    margin-bottom: 1em;
  }
}
