<app-header></app-header>
<main>
  <h1 id="title_profile">Profile</h1>
  <form >
    <div class="pfp_profile">
      <img [src]="selectedImage ? selectedImage : user.userPhoto" alt="Profile Picture">
      <label class="custom_file_upload">
        <input type="file" (change)="onFileSelected($event)" accept="image/*" >
        <span>{{ selectedFileName ? selectedFileName : 'Seleccionar archivo' }}</span>
      </label>
    </div>

    <ul class="user_data">
      <li id="name_field">
        <label for="name_user">Nombre de Usuario:</label>
        <input type="text" id="name_user" name="name_user" [(ngModel)]="user.userName">
      </li>
      <li id="mail_field">
        <label for="mail_user">Correo Electrónico:</label>
        <input type="email" id="mail_user" name="mail_user" [(ngModel)]="user.userEmail">
      </li>
      <li id="password_field">
        <label for="password_user">Contraseña Actual:</label>
        <input type="password" id="password_user" name="password_user" >
      </li>
      <li id="newpassword_field">
        <label for="newpassword_user">Nueva Contraseña:</label>
        <input type="password" id="newpassword_user" name="newpassword_user" >
      </li>
    </ul>

    <button type="submit" (click)="onSubmit()">Actualizar Datos</button>
  </form>
</main>
<app-footer></app-footer>
