<div id="tab-input">
  <ng-container *ngIf="!isCharge; else images" >
    <div class="spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
  <ng-template #images>

    <div id="imagesDiv">
      <mat-card class="image" *ngFor="let image of userImages;">
        <mat-card-content class="matContentImage">
          <img [src]="image">
        </mat-card-content>
        <mat-card-actions class="matCardButtons">
          <button (click)="addToTeam(1,image)">Team1</button>
          <button (click)="deleteImage(image)" id="delete">X</button>
          <button (click)="addToTeam(2,image)">Team2</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <label id="img1" for="imgTeam1">
    <p>Sube una imagen del escudo del equipo</p>
    <input name="imgTeam1" type="file" accept="image/png" (change)="onFileUpload($event)">
    </label>
  </ng-template>

</div>



