<div>
    <div id="timer" [ngStyle]="{
        'color':datos.colorTimer,
        'font-family':datos.font,
        'background-color':datos.colorBoxTimer
            }">{{datos.timer}}</div>
    <ul class="container-scoreboard">
        <li *ngIf="datos.image1Url !=''" class="imagesBox" [ngStyle]="{
            'background-color':datos.colorBoxTeam1
        }">
            <img class="images" [src]="datos.image1Url"/>
        </li>
        <li class="team_box-scoreboard" id="box-team1">
            <div class="team_name-scoreboard" id="name_team1" [ngStyle]="{
                'color':datos.colorTeam1,
                'font-family':datos.font,
                'background-color':datos.colorBoxTeam1
            }">{{datos.team1}}</div>
            <div class="score-scoreboard" id="team1" [ngStyle]="{
                'color':datos.colorScore1,
                'font-family':datos.font,
                'background-color':datos.colorBoxScore1
            }">{{datos.score1}}</div>
        </li>

        <li id="space" [ngStyle]="{
            'color':datos.colorSpace,
            'font-family':datos.font,
            'background-color':datos.colorBoxSpace
        }">-</li>

        <li class="team_box-scoreboard" id="box-team2">
            <div class="score-scoreboard" id="team2" [ngStyle]="{
                'color':datos.colorScore2,
                'font-family':datos.font,
                'background-color':datos.colorBoxScore2
            }">{{datos.score2}}</div>
            <div class="team_name-scoreboard" id="name_team2" [ngStyle]="{
                'color':datos.colorTeam2,
                'font-family':datos.font,
                'background-color':datos.colorBoxTeam2
            }">{{datos.team2}} <img class="images" [src]="datos.image2Url"/> </div>
        </li>
        <li *ngIf="datos.image2Url !=''" class="imagesBox" [ngStyle]="{
            'background-color':datos.colorBoxTeam2
        }">

        </li>
    </ul>
</div>


