.container-scoreboard {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.team_box-scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.team_name-scoreboard {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    background: #04006B;
    color: white;
    padding: 10px;
}

.score-scoreboard {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    justify-self: center;
    background-color: rgba(255, 187, 0, 0.8);
    padding: 10px;
    color: #04006B;
}

#space {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #04006B;
    padding: 10px;
}

#title-scoreboard {
    text-align: center;
    margin-bottom: 20px;
}

#name_team1{
    border-radius:0.1em 0 0 0.1em;
}

#name_team2 {
    border-radius: 0 0.1em 0.1em 0;
}
