<app-header></app-header>
<main id="howToUse">
  <h1 id="title_howToUse">{{pageContent.title_howToUse}}</h1>
  <p id="introduction_howToUse"> {{pageContent.introduction_howToUse}}</p>
  <ul class="container_howToUse">
    <li class="box_howToUse">
      <p class="type_howToUse" id="type1">{{pageContent.type1}}</p>
      <p class="description_howToUse" id="description1">{{pageContent.description1}}</p>
    </li>

    <li class="box_howToUse">
      <p class="type_howToUse" id="type2">{{pageContent.type2}}</p>
      <p class="description_howToUse" id="description2">{{pageContent.description2}}</p>
    </li>
  </ul>
</main>
<app-footer></app-footer>
