<app-header></app-header>
<main id="howToUse">
  <h1 id="title-howToUse">How to Use</h1>
  <p id="introduction-howToUse"> If you don’t know how to use it, don’t worry. <br> We’ll give you a hand!</p>
  <ul class="container-howToUse">
    <li class="box-howToUse">
      <p class="type-howToUse">How to put an overlay on my live?</p>
      <p class="description-howToUse">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec justo sit amet sapien fermentum feugiat eget eu mauris. Donec bibendum diam id metus cursus, a laoreet enim molestie. Nullam scelerisque dolor vitae mauris euismod cursus. Aliquam erat volutpat. Proin eget mi sapien. Etiam vel hendrerit augue. Duis vulputate pharetra felis, sed congue ligula tincidunt ac. Morbi commodo, quam vitae congue congue, velit eros dictum sem, vitae varius eros nisl nec mi.</p>
    </li>

    <li class="box-howToUse">
      <p class="type-howToUse">How to customize my own overlay?</p>
      <p class="description-howToUse">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec justo sit amet sapien fermentum feugiat eget eu mauris. Donec bibendum diam id metus cursus, a laoreet enim molestie. Nullam scelerisque dolor vitae mauris euismod cursus. Aliquam erat volutpat. Proin eget mi sapien. Etiam vel hendrerit augue. Duis vulputate pharetra felis, sed congue ligula tincidunt ac. Morbi commodo, quam vitae congue congue, velit eros dictum sem, vitae varius eros nisl nec mi.</p>
    </li>
  </ul>
</main>
<app-footer></app-footer>
