
#marcador{
	display:flex;
	justify-content: center;
	font-size: 2em;
}





#info {
	padding: 10px 15px 10px 15px;
	border-radius: 5px 5px 5px 5px;
	margin-top:4px;
	white-space: nowrap;
	justify-self: left;
	font-size: 80%;
	margin-bottom:4px;
	z-index:1;
	opacity:0;
}

#setsEnteros{
	display:flex;
}

#set11 {
	padding: 10px 15px 10px 15px;
	margin-bottom: 2px;
}

#set12 {
	padding: 10px 15px 10px 15px;
	margin-top: 2px;
}

#set21 {
	padding: 10px 15px 10px 15px;
	margin-bottom: 2px;
}

#set22 {
	padding: 10px 15px 10px 15px;
	margin-top: 2px;
}

#set31 {
	padding: 10px 15px 10px 15px;

	margin-bottom: 2px;
}

#set32 {
	padding: 10px 15px 10px 15px;

	margin-top: 2px;
}


#puntos1 {
	padding: 10px 15px 10px 15px;
	border-radius: 0px 5px 5px 0px;
	margin-bottom: 2px;
}

.puntos {
	text-align: center;
}


#puntos2 {
	padding: 10px 15px 10px 15px;
	border-radius: 0px 5px 5px 0px;
	margin-top: 2px;
}

#nombre1 {
	padding: 10px 15px 10px 15px;
	border-radius: 5px 0px 0px 5px;
	white-space: nowrap;
}

#nombre2 {
	padding: 10px 15px 10px 15px;
	border-radius: 5px 0px 0px 5px;
	white-space: nowrap;
}

#pareja1, #pareja2 {
	display:flex;
	align-items:center;
}

#pareja1{
	border-radius: 5px 0px 0px 5px;
	margin-bottom:2px;
}

#pareja2 {
	border-radius: 5px 0px 0px 5px;
}

#servicio1, #servicio2 {
	width: 15px;
	height: 15px;
	/*margin-bottom: 1.7px;*/
	border-radius: 50%;
	margin-right:10px;
	margin-left:auto;
}