form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "team1 team2"
    "font font"
    "img1 img1"
    "button button";
  align-items: center;
  justify-items: center;
  gap: 20px;
}

mat-select{
  background-color: white;
}

.mat-option{
  padding: 8px;
  border: 1px solid black;
}



label {
  display: flex;
  flex-direction: column;
  color:var(--colorSecundario);
  min-width: 20%;

}

#team1 {
  grid-area: team1;
}

#team2 {
  grid-area: team2;
}

#font {
  grid-area: font;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--colorPrincipal);
  font-size: 16px;
  color: var(--colorPrincipalOscuro);
}

button{
  grid-area: button;
  color: var(--colorPrincipalOscuro) !important;
  background-color: var(--colorTerciario) !important;
  border: none;
  border-radius: 0.3em;
  height: 50px;
  font-size: 1.5em;
  font-family: Poppins-bold;
}

button:hover {
  background-color: var(--colorPrincipalOscuro);
}

@media (max-width: 768px) {
  form {
    grid-template-columns: 1fr;
    grid-template-areas:
      "team1"
      "team2"
      "font"
      "button";
  }
}
