<app-header></app-header>
<section id="section1">
            <img src="assets/logotypes/logo.png" alt="Imagen del Logo"/>
            <h1 id="section1_h1">{{pageContent.section1_h1}}</h1>
            <h2 id="section1_h2">{{pageContent.section1_h2}}</h2>
        </section>

        <section id="section2">
            <h2 id="section2_h2">{{pageContent.section2_h2}}</h2>
            <p id="section2_p">{{pageContent.section2_p}}</p>
        </section>

        <section id="section3">
            <h2 id="section3_h2">{{pageContent.section3_h2}}</h2>
            <div id="cards_Overlays">
                <div class="card_overlay">
                    <div class="image_card">
                        <img src="assets/images/overlays_preview/timer.png" />
                    </div>
                    <h3 id="section3_h3_1">{{pageContent.section3_h3_1}}</h3>
                    <p id="section3_p_1">{{pageContent.section3_p_1}}</p>
                </div>

                <div class="card_overlay">
                    <div class="image_card">
                        <img />
                    </div>
                    <h3 id="section3_h3_2">{{pageContent.section3_h3_2}}</h3>
                    <p id="section3_p_2">{{pageContent.section3_p_2}}</p>
                </div>

                <div class="card_overlay">
                    <div class="image_card">
                        <img src="assets/images/overlays_preview/football.png" />
                    </div>
                    <h3 id="section3_h3_3">{{pageContent.section3_h3_3}}</h3>
                    <p id="section3_p_3">{{pageContent.section3_p_3}}</p>
                </div>

                <div class="card_overlay">
                    <div class="image_card">
                        <img />
                    </div>
                    <h3 id="section3_h3_4">{{pageContent.section3_h3_4}}</h3>
                    <p id="section3_p_4">{{pageContent.section3_p_4}}</p>
                </div>
            </div>
        </section>

        <section id="section4">
            <h2 id="section4_h2">{{pageContent.section4_h2}}</h2>
            <div id="cards_howWork">
                <div class="cardHowWork">
                    <img alt="Icono de overlay" src="assets/icons/overlay.png" />
                    <h3 id="section4_h3_1">{{pageContent.section4_h3_1}}</h3>
                    <p id="section4_p_1">{{pageContent.section4_p_1}}</p>
                </div>
                <div class="cardHowWork">
                    <img alt="Icono de editar" src="assets/icons/edit.png" />
                    <h3 id="section4_h3_2">{{pageContent.section4_h3_2}}</h3>
                    <p id="section4_p_2">{{pageContent.section4_p_2}}</p>
                </div>
                <div class="cardHowWork">
                    <img alt="Icono de añadir" src="assets/icons/add.png" />
                    <h3 id="section4_h3_3">{{pageContent.section4_h3_3}}</h3>
                    <p id="section4_p_3">{{pageContent.section4_p_3}}</p>
                </div>
            </div>

        </section>

        <section id="section5">
            <h2 id="section5_h2">{{pageContent.section5_h2}}</h2>
            <div class="images">
                <img class="platforms" src="assets/images/platforms/youtube_platform.png" alt="Youtube">
                <img class="platforms" src="assets/images/platforms/twitch_platform.png" alt="Twitch"/>
                <img class="platforms" src="assets/images/platforms/facebook_platform.png" alt="Facebook Gaming"/>
                <img class="platforms" src="assets/images/platforms/tiktok_platform.png" alt="Tik Tok Live"/>
            </div>
        </section>

        <section id="section6">
            <h2 id="section6_h2">{{pageContent.section6_h2}}</h2>
            <div class="images">
                <img class="software_programs" src="assets/images/software_programs/streamlabs_software.png" alt="Streamlabs" />
                <img class="software_programs" src="assets/images/software_programs/obs_software.png" alt="OBS" />
                <img class="software_programs" src="assets/images/software_programs/wirecast_software.png" alt="Wirecast" />
                <img class="software_programs" src="assets/images/software_programs/vmix_software.png" alt="Vmix" />
            </div>
        </section>
<app-footer></app-footer>
