/* BIG STYLE */
@media screen and (min-width:1024px) {
    section{
        display:flex;
        flex-direction:column;
        text-align:center;
    }
    
    #section1 h2{
        color:var(--colorSecundario);
    }
    
    #section1 {
        align-items: center;
        margin: 0 1em 1em 1em;
    }
    
    #section2, #section3{
        justify-content:center;
        margin: 2em 0 2em 0;
    }
    
    #section2 p{
        margin-left:2em;
        margin-right:2em;
        margin-top:0em;
    }
    
    #section3 {
        display:flow-root;
    }
    
    #section3 h2 {
        margin: 0em 0 2em 0;
    }
    
    #section4 h2 {
        margin: 1em 0 2em 0;
    }
    
    #section2, #section4{
        background-color:var(--colorPrincipalOscuro);
    }
    
    #cards_Overlays{
        display:grid;
        grid-template-columns:repeat(4,auto);
        justify-items:center;
    }
    
    
    
    .cardHowWork, .card_overlay{
        transition: transform 0.5s;
        background-color: var(--colorPrincipalOscuro);
    }
    
    .cardHowWork:hover, .card_overlay:hover {
        transform: scale(1.05);
    }
    
    #cards_Overlays img{
        width:13em;
    }
    
    
    .image_card {
        background-color: white;
        height:7em;
        align-items:center;
        display:flex;
        width:15em;
        border-radius:1em;
        justify-content:center;
    }
    
    .card_overlay {
        display: flex;
        flex-direction: column;
        padding: 1.5em;
        border-radius: 1em;
        width: 15em;
        justify-content: flex-start;
        height: auto;
        border: 2px inset var(--colorSecundario);
    }
    
    .card_overlay p, .cardHowWork p {
        margin:0;
    }
    
    #cards_howWork {
        display: grid;
        grid-template-columns: repeat(3,auto);
        justify-items: center;
    }
    
    
    .cardHowWork {
        display: flex;
        flex-direction: column;
        padding: 1.5em;
        border-radius: 1em;
        width: 15em;
        height: auto;
        justify-content: flex-start;
        align-items: center;
        border: 2px inset var(--colorSecundario);
        background-color: var(--colorPrincipal);
    }
    
    
    #section4 .cardHowWork img {
        width: 3em;
    }
    
    #section4{
        padding-bottom:2em;
    }
    
    h1{
        color:var(--colorTerciario);
    }
    
    h2{
        color:var(--colorTerciario);
    }
    
    p{
        color:white;
    }
    
    
    /*Logo principal*/
    #section1 img {
        z-index:100;
        margin-top: 80px;
        width: 10em;
        height: 10em;
        -webkit-animation: 20s rotate linear infinite;
        animation: 20s rotate linear infinite;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    /*Accon de girar*/
    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
    
        to {
            transform: rotate(360deg);
        }
    }
    
    @-webkit-keyframes rotate {
        from {
            -webkit-transform: rotate(0deg);
        }
    
        to {
            -webkit-transform: rotate(360deg);
        }
    }
    
    
    #logo-intro img:hover{
        -webkit-animation-direction: reverse;
        animation-direction:reverse;
    }
    
    .platforms, .software_programs {
        width: 10em;
    }
    
    .images{
        display:grid;
        grid-template-columns:repeat(4,auto);
        align-items:center;
        justify-items:center;
    }
    
    /*Media query para evitar que los overlays cards se queden pegados
        ademas hacer mas pequeño los howtowork cards
    */
    @media screen and (max-width:1300px){
        .card_overlay {
            width: 12em;
        }
    
        .image_card {
            background-color: white;
            align-items: center;
            display: flex;
            width: 12em;
            border-radius: 1em;
            justify-content: center;
        }
    
        #cards_Overlays img {
            width: 10em;
        }
    
        .cardHowWork{
            width:13em;
            height:13em;
        }
    
        #section4 .card img{
            width:2.5em;
        }
    }
}

/* MID STYLE */
@media screen and (max-width:1023px) and (min-width:768px) {
    section {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    #section1 h2 {
        color: var(--colorSecundario);
    }
    
    #section1 {
        align-items: center;
        margin:0 1em 1em 1em;
    }
    
    #section2, #section3 {
        justify-content: center;
        margin:2em 0 2em 0;
    }
    
    #section2 p {
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 0em;
    }
    
    #section3 {
        display: flow-root;
    }
    
    #section3 h2 {
        margin:0em 0 2em 0;
    }
    
    #section4 h2 {
        margin: 1em 0 2em 0;
    }
    
    
    
    #section2, #section4 {
        background-color: var(--colorPrincipalOscuro);
    }
    
    #cards_Overlays {
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
        grid-row-gap: 2em;
        justify-items: center;
        text-decoration: none;
    }
    
    
    
    .cardHowWork, .card_overlay {
        transition: transform 0.5s;
        background-color: var(--colorPrincipalOscuro);
    }
    
        .cardHowWork:hover, .card_overlay:hover {
            transform: scale(1.05);
        }
    
    #cards_Overlays img {
        width: 13em;
    }
    
    
    
    .image_card {
        background-color: white;
        height: 7em;
        align-items: center;
        display: flex;
        width: 15em;
        border-radius: 1em;
        justify-content: center;
    }
    
    .card_overlay {
        display: flex;
        flex-direction: column;
        padding: 1.5em;
        border-radius: 1em;
        width: 15em;
        justify-content: flex-start;
        height: auto;
        border: 2px inset var(--colorSecundario);
    }
    
    
    .card_overlay p, .cardHowWork p {
        margin: 0;
    }
    
    #cards_howWork {
        display: grid;
        grid-template-areas: "card1 card2" "card3 card3";
        justify-items: center;
        grid-row-gap: 2em;
    }
    
    .cardHowWork:last-child{
        grid-area:card3;
    }
    
    .cardHowWork {
        display: flex;
        flex-direction: column;
        padding: 1.5em;
        border-radius: 1em;
        width: 15em;
        height: auto;
        justify-content: flex-start;
        align-items: center;
        border: 2px inset var(--colorSecundario);
        background-color: var(--colorPrincipal);
    }
    
    
    #section4 .cardHowWork img {
        width: 3em;
    }
    
    #section4 {
        padding-bottom: 2em;
    }
    
    h1 {
        color: var(--colorTerciario);
    }
    
    h2 {
        color: var(--colorTerciario);
    }
    
    p {
        color: white;
    }
    
    
    /*Logo principal*/
    #section1 img {
        z-index: 100;
        margin-top: 80px;
        width: 10em;
        height: 10em;
        -webkit-animation: 20s rotate linear infinite;
        animation: 20s rotate linear infinite;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    /*Accon de girar*/
    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
    
        to {
            transform: rotate(360deg);
        }
    }
    
    @-webkit-keyframes rotate {
        from {
            -webkit-transform: rotate(0deg);
        }
    
        to {
            -webkit-transform: rotate(360deg);
        }
    }
    
    
    #logo-intro img:hover {
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }
    
    .platforms, .software_programs {
        width: 8em;
    }
    
    .images {
        display: grid;
        grid-template-columns: repeat(4,auto);
        align-items: center;
        justify-items: center;
    }
    
}

/* SMALL STYLE */
@media screen and (max-width:767px){
    section {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    #section1 h2 {
        color: var(--colorSecundario);
    }
    
    #section1 {
        align-items: center;
        margin: 0 1em 1em 1em;
    }
    
    #section2, #section3 {
        justify-content: center;
        margin: 2em 0 2em 0;
    }
    
    #section2 p {
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 0em;
    }
    
    #section3 {
        display: flow-root;
    }
    
        #section3 h2 {
            margin: 0em 0 2em 0;
        }
    
    #section4 h2 {
        margin: 1em 0 2em 0;
    }
    
    
    
    #section2, #section4 {
        background-color: var(--colorPrincipalOscuro);
    }
    
    #cards_Overlays {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4,auto);
        grid-row-gap: 2em;
        justify-items: center;
    }
    
    .cardHowWork, .card_overlay {
        transition: transform 0.5s;
        background-color: var(--colorPrincipalOscuro);
    }
    
    .cardHowWork h3,.card_overlay h3{
        display:block;
    }
    
    .cardHowWork:hover, .card_overlay:hover {
        transform: scale(1.05);
    }
    
    #cards_Overlays img {
        width: 13em;
    }
    
    .image_card {
        background-color: white;
        height: 7em;
        align-items: center;
        display: flex;
        width: 15em;
        border-radius: 1em;
        justify-content: center;
    }
    
    .card_overlay {
        display: flex;
        flex-direction: column;
        padding: 1.5em;
        border-radius: 1em;
        width: 15em;
        justify-content: flex-start;
        height: auto;
        border: 2px inset var(--colorSecundario);
    }
    
    .card_overlay p, .cardHowWork p {
        margin: 0;
    }
    
    #cards_howWork {
        display: grid;
        grid-template-rows:repeat(3,15em);
        grid-template-columns:auto;
        justify-items: center;
        grid-row-gap: 2em;
    }
    
    
    .cardHowWork {
        display: flex;
        flex-direction: column;
        padding: 1.5em;
        border-radius: 1em;
        width: 15em;
        height: auto;
        justify-content: center;
        align-items: center;
        border: 2px inset var(--colorSecundario);
        background-color: var(--colorPrincipal);
    }
    
    
    #section4 .cardHowWork img {
        width: 3em;
    }
    
    #section4 {
        padding-bottom: 2em;
    }
    
    h1 {
        color: var(--colorTerciario);
    }
    
    h2 {
        color: var(--colorTerciario);
    }
    
    p {
        color: white;
    }
    
    
    /*Logo principal*/
    #section1 img {
        z-index: 100;
        margin-top: 80px;
        width: 10em;
        height: 10em;
        -webkit-animation: 20s rotate linear infinite;
        animation: 20s rotate linear infinite;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    /*Accon de girar*/
    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
    
        to {
            transform: rotate(360deg);
        }
    }
    
    @-webkit-keyframes rotate {
        from {
            -webkit-transform: rotate(0deg);
        }
    
        to {
            -webkit-transform: rotate(360deg);
        }
    }
    
    
    #logo-intro img:hover {
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }
    
    .platforms, .software_programs {
        width: 7em;
    }
    
    .images {
        display: grid;
        grid-template-columns: repeat(4,auto);
        align-items: center;
        justify-items: center;
    }
    
    
    
    
    /*Media screen para corregir los logos de las plataformas y
        software
    */
    @media screen and (max-width:550px){
        .images{
            grid-template-columns:repeat(2,auto);
            grid-template-rows:repeat(2,auto);
            grid-row-gap:1em;
        }
    
        #section6 {
            margin-bottom: 1em;
        }
    }
}
