<app-header></app-header>
<main>
  <h1>{{overlay.name}}</h1>
  <div [ngSwitch]="overlay.type">
    <ng-container *ngSwitchCase="'football'">
      <app-football></app-football>
    </ng-container>
    <ng-container *ngSwitchCase="'basketball'">
      <app-overlay-basketball></app-overlay-basketball>
    </ng-container>
    <ng-container *ngSwitchCase="'tennis'">
      <app-overlay-tennis></app-overlay-tennis>
    </ng-container>
    <ng-container *ngSwitchCase="'timer'">
      <app-overlay-timer></app-overlay-timer>
    </ng-container>
    <ng-container *ngSwitchDefault>
      Error de datos
    </ng-container>
  </div>


</main>
<app-footer></app-footer>
