<div>
    <button mat-raised-button id="add1" (click)="addPoint(1)">+1 TEAM 1</button>
    <button mat-raised-button id="add2" (click)="addPoint(2)">+1 TEAM 2</button>
    <button mat-raised-button id="rem1" (click)="removePoint(1)">-1 TEAM 1</button>
    <button mat-raised-button id="rem2" (click)="removePoint(2)">-1 TEAM 2</button>
    <button mat-raised-button id="service" (click)="changeService()">CHANGE SERVICE</button>
    <button mat-raised-button id="reset" (click)="resetMatch()">RESET MATCH</button>
    
    
  </div>
