/* You can add global styles to this file, and also import other style files */
:root {
    --colorPrincipal:#032A88;
    --colorSecundario: #FFFFFF;
    --colorTerciario:#FFBB00;
    --colorPrincipalOscuro:#04006B;
}

@font-face {
    font-family: Poppins-bold;
    src: url('assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Poppins-regular;
    src: url('assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Poppins-medium;
    src: url('assets/fonts/poppins/Poppins-Medium.ttf') format('truetype');
}

body {
    background:var(--colorPrincipal);
    font-family: Poppins-regular;
    overflow-x: hidden;
    margin: 0;
    height: 100vh;
}







/*CUSTOM ANGULAR MATERIAL*/
.snack-custom {
    --mat-mdc-snack-bar-button-color:var(--colorTerciario) !important;
    --mdc-snackbar-container-color:var(--colorPrincipalOscuro) !important;
}

.dialog-custom, .mat-mdc-dialog-container{
    --mdc-dialog-container-color:var(--colorPrincipalOscuro) !important;
    --mdc-dialog-subhead-color:var(--colorTerciario) !important;
    --mdc-dialog-supporting-text-color:rgba(255,255,255,1) !important;
    --mdc-text-button-label-text-color:var(--colorTerciario) !important;
    --mdc-dialog-with-divider-divider-color:var(--colorTerciario) !important;
}

.dialog-custom .mdc-floating-label {
    color:#04006B !important;

}

.dialog-custom mat-hint{
    color:rgba(255,255,255,0.7);
}

.dialog-custom .mdc-text-field--filled .mdc-line-ripple::after{
    border-bottom-color: var(--colorPrincipalOscuro) !important;
}

.dialog-custom .mat-mdc-button.mat-unthemed {
    color:#FFBB00 !important;
}

.dialog-custom .mdc-text-field .mdc-text-field__input {
    caret-color: #04006B !important;
}

.mat-mdc-tab .mdc-tab__text-label, .mat-mdc-tab-link .mdc-tab__text-label{
    color:white !important;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label{
    color:#FFBB00 !important;
}


