/* You can add global styles to this file, and also import other style files */
:root {
    --colorPrincipal:#032A88;
    --colorSecundario: #FFFFFF;
    --colorTerciario:#FFBB00;
    --colorPrincipalOscuro:#04006B;
}

@font-face {
    font-family: Poppins-bold;
    src: url('assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Poppins-regular;
    src: url('assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Poppins-medium;
    src: url('assets/fonts/poppins/Poppins-Medium.ttf') format('truetype');
}

body {
    background:var(--colorPrincipal);
    font-family: Poppins-regular;
    overflow-x: hidden;
    margin: 0;
    height: 100vh;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
