.cardOverlay{
    width:15em;
    height:16em;
    background-color:var(--colorPrincipalOscuro);
    border-radius:1em;
    padding:1em;
    display:flex;
    flex-direction:column;
    font-family:Poppins;
}

.image_card {
    padding:4px;
    background-color:var(--colorSecundario);
    border-radius:0.4em;
    display:flex;
    justify-content:center;
    align-items:center;
    height:72px;
}

.image_card img {
    /*Para que se vea bien en chrome*/
    width: 100%;
}

.overlay_name {
    color: var(--colorTerciario);
    font-size: 1.3em;
    /*Limitar a solo 1 lineas el texto*/
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0em;
    margin-top: 0.2em;
}

.info-cardOverlay img {
    width: 1.5em;
    height: 1.5em;
}

.overlay_description {
    font-size: 0.9em;
    color: var(--colorSecundario);
    margin: 0 auto auto auto;
    /*Limitar a solo 3 lineas el texto*/
    display: contents;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.section_date {
    display: flex;
    align-items: center;
}

.section_date p {
    margin-left: 0.5em;
    margin: 0 0 0 0.5em;
}

.info-cardOverlay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:var(--colorSecundario);
    font-size:0.8em;
    margin-top:auto;

}


.card_dropdown button{
    background:none;
    border:none;
}


/*MENU DESPLEGABLE*/

.card_dropdown {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.card_dropdown:hover{
    display: none;
}

.card_dropdown_button img{
    display:flex;
    align-items:flex-start;
}

.card_dropdown_content{
    display:none;
    position:absolute;
    align-items:center;
    padding:10px;
    background-color:var(--colorPrincipal);
    margin-top:-8em;
    /*animation:5s;*/
    list-style-type:none;
    border-radius:0.5em;
}

    .card_dropdown_content button {
        color: var(--colorTerciario);
        font-size:1.2em;
        font-family:Poppins;
    }

.card_button{
    color:var(--colorPrincipal);
    padding:0.4em;
    background-color:var(--colorTerciario);
    border:none;
    border-radius:1em;
    font-family: Poppins-bold;
    margin-bottom: 0;
    margin-top: auto;
}
