<div class="cardOverlay">
    <div class="image_card">
        <img [src]='overlay.image'/>
    </div>
    <h2 class="overlay_name">{{overlay.name}}</h2>
    <p class="overlay_description">{{overlay.description}}</p>
    <div *ngIf="!buttonShow" class="info-cardOverlay">
        <div class="section_date">
            <img src="/assets/icons/calendar.png" />
            <p class="overlay_date">{{overlay.date.toDate() | date:'short'}}</p>
        </div>
    
        <app-dropdown-card-button 
            [buttonsText]="buttonsText"
            (action)="actionEvent($event)"></app-dropdown-card-button>


    </div>
    <button *ngIf="buttonShow" (click)="useButton()" class="card_button">Usar</button>
</div>

