﻿:root {
  --colorPrincipal: #032A88;
  --colorSecundario: #FFFFFF;
  --colorTerciario: #FFBB00;
  --colorPrincipalOscuro: #04006B;
  height: 100vh;
}

main {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(3%2c 42%2c 136%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c376.523C70.932%2c376.342%2c143.176%2c352.14%2c195.6%2c304.359C244.786%2c259.529%2c246.526%2c185.737%2c275.211%2c125.685C304.564%2c64.235%2c366.153%2c15.46%2c366.128%2c-52.641C366.102%2c-123.011%2c329.069%2c-193.225%2c275.076%2c-238.355C223.684%2c-281.312%2c150.355%2c-275.438%2c84.561%2c-287.99C25.684%2c-299.222%2c-30.888%2c-314.687%2c-90.463%2c-308.09C-159.446%2c-300.452%2c-238.844%2c-298.784%2c-285.118%2c-247.056C-331.444%2c-195.271%2c-324.791%2c-116.116%2c-324.354%2c-46.635C-323.968%2c14.815%2c-303.77%2c71.384%2c-282.753%2c129.129C-259.909%2c191.894%2c-246.512%2c261.379%2c-196.244%2c305.361C-142.794%2c352.127%2c-71.021%2c376.705%2c0%2c376.523' fill='%2302226d'%3e%3c/path%3e%3cpath d='M1440 837.957C1510.681 856.669 1585.381 921.1320000000001 1649.477 885.952 1712.3 851.47 1690.587 753.083 1716.422 686.238 1740.219 624.668 1802.8 574.5 1795.193 508.931 1787.57 443.221 1718.128 406.375 1677.864 353.889 1634.421 297.259 1614.503 216.94600000000003 1549.164 188.22199999999998 1482.376 158.861 1403.305 176.96699999999998 1335.256 203.27300000000002 1270.496 228.30700000000002 1217.528 275.733 1176.984 332.095 1138.844 385.11400000000003 1123.718 448.571 1112.5140000000001 512.915 1101.001 579.0360000000001 1074.8519999999999 653.728 1111.152 710.1800000000001 1147.52 766.738 1228.76 766.814 1291.437 791.168 1340.831 810.361 1388.773 824.395 1440 837.957' fill='%230432a3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1em;
  margin-bottom: 0.5em;
  background: var(--colorPrincipalOscuro);
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 25px;
  color: azure;
}

input[type="text"] {
  width: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background: var(--colorTerciario);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}

button[type="submit"]:hover {
  background-color: rgba(255, 187, 0, 0.5);
}

#check_text{
  display: flex;
}
